@import './scss/fonts';
@import './scss/variables';

*{
  box-sizing: border-box;
  font-family: 'Gotham Pro', sans-serif;
}

body{
  background: var(--color-base-white);
  padding: 3rem;
}

button {
  cursor: pointer;
}