// variables

:root {
  --font-family: 'Gotham Pro', sans-serif;

  --color-base-black: #0e0e10;
  --color-base-white: #F1F4FD;
  --color-corp: #33D35E;
  --color-corp-hover: #24C14E;
  --color-corp-focus: #16B240;
}
