// variables

:root {
  --font-family: 'Gotham Pro', sans-serif;

  --color-base-black: #0e0e10;
  --color-base-black-t10: #0e0e1010;
  --color-base-black-l1: #1B1B1F;
  --color-white: #ffffff;
  --color-base-white: #F1F4FD;
  --color-grayscale-900: #111827;
  --color-grayscale-600: #687588;
  --color-gray-d1: #f0f0f7;
  --color-gray-d2: #D3D3DE;
  --color-gray-d3: #93939B;
  --color-gray-d4: #55555c;
  --color-corp: #33D35E;
  --color-corp-l1: #C3FCD2;
  --color-corp-hover: #24C14E;
  --color-corp-focus: #16B240;

  
}
